mixin nav-content()
	ul
				li: a(href="#about") About
				li: a(href="#youtube") Youtube
				li: a(href="#mentoring") Mentoring
				li: a(href="#articles") Articles
				li: a(href="#vine") Vine
				li: a(href="#design") Design
				li: a(href="#dotes") Notes
				li: a(href="#contact") Contact


.mobile-nav
	+nav-content()

header
	.header-position
		h1.logo Jose Mendez

		nav.site-nav
			+nav-content()


		a(href="mailto:iscjosemendez@gmail.com").email-link +Email

		.mobile-nav-toggle: span